- content_for(:html_title) { "All Parts" }

- content_for(:nav) do
  %ul.list-unstyled
    %li= link_to 'Home', home_path

- content_for(:sidebar) do
  %h4 Actions
  %ul.list-unstyled
    %li None

%section
  %h1 All Parts
  - if @parts.empty?
    %p None
  - else
    %table.table.sortable.searchable
      %tr
        %th Part Name
        %th Points
        %th Actions
      - @parts.each do |part|
        %tr
          %td= part.name
          %td= part.points
          %td
            - if current_user.can_write_parts?
              = link_to 'edit', edit_part_path(part)
