%section.players
  %h2
    Entries (#{competition.vessels.count})
    %button.btn.btn-secondary.btn-sm{"data-bs-toggle": "collapse", "data-bs-target": "#player_details", "aria-expanded": false, "aria-controls": "player_details"} Toggle Details
  %ul#player_details.collapse.list-group
    - vessel_assignments = competition.vessel_assignments.includes(vessel: :player)
    - if vessel_assignments.empty?
      %li None
    - else
      - vessel_assignments.each do |va|
        %li= render partial: 'player', locals: { player: va.vessel.player, vessel: va.vessel }
