- if user_signed_in?
  - if current_user.player.id == player.id
    = link_to player.name, player_path(player)
    %span= "( #{vessel.craft_url} )"
- else
  = link_to player.name, player_path(player)
