- if user_signed_in? && !current_user.player.nil? && current_user.player.id == player.id
  = link_to vessel.full_name, player_path(player)
  %span= "( #{vessel.filename} )"
- else
  = link_to vessel.full_name, player_path(player)
