%section.players
  %h2 Players (#{competition.vessels.count})
  %ul
    - vessel_assignments = competition.vessel_assignments.includes(vessel: :player)
    - if vessel_assignments.empty?
      %li None
    - else
      - vessel_assignments.each do |va|
        %li= render partial: 'player', locals: { player: va.vessel.player, vessel: va.vessel }
