- props = [:kills, :deaths, :assists, :wins, :hits_in, :hits_out, :dmg_in, :dmg_out, :ram_parts_in, :ram_parts_out, :mis_parts_in, :mis_parts_out, :ram_dmg_in, :ram_dmg_out, :mis_dmg_in, :mis_dmg_out, :roc_parts_in, :roc_parts_out, :roc_dmg_in, :roc_dmg_out, :death_order, :death_time, :waypoints, :elapsed_time, :deviation, :ast_parts_in]
%section
  %h2 Score Metric
  %p
    - props.each do |p|
      - if !competition.metric[p].nil? && competition.metric[p] != 0
        = "#{p} (#{competition.metric[p]})"
