- props = [:kills, :deaths, :assists, :wins, :hits_in, :hits_out, :ram_parts_in, :ram_parts_out, :mis_parts_in, :mis_parts_out, :ram_dmg_in, :ram_dmg_out, :mis_dmg_in, :mis_dmg_out, :death_order, :death_time]
%h2
  Score Metric:
  - props.each do |p|
    - if !competition.metric[p].nil? && competition.metric[p] != 0
      = "#{p} (#{competition.metric[p]})"
