%section
  %h2 Status: #{competition.status_label.humanize}
  %p
    Stage:
    - if competition.stage == 0
      Qualifying
    - else
      #{competition.stage} of #{competition.max_stages}
  - if competition.rankings.any?
    %p Stability Factor: #{number_with_precision(competition.stability_factor, precision: 2)}
