%section
  %h2 Stage Rankings
  %canvas#competition_chart
  %script{language: "JavaScript"}
    $(document).ready(function() {
    console.log("load chart.json for #{params[:id]}");
    $.getJSON("/competitions/#{params[:id]}/chart.json", loadVesselRanks);
    });
