<nav>
<ul>
<li><%= link_to 'Home', root_path %></li>
</ul>
</nav>

<section>
<h1>Competitions</h1>
<%= link_to 'New Competition', new_competition_path %>

<ul>
<% @competitions.each do |e| -%>
<li><%= link_to e.name, competition_path(e) %></li>
<% end -%>
</ul>
</section>
