<nav>
<ul>
<li><%= link_to 'Home', home_path %></li>
</ul>
</nav>

<section>
<h1>Competitions</h1>
<%= link_to 'New Competition', new_competition_path %>

<ul>
<% @competitions.each do |e| -%>
<% if e.public? || (user_signed_in? && e.user == current_user) -%>
<li><%= link_to e.name, competition_path(e) %><% if e.private? %><span>(private)</span><% end %></li>
<% end -%>
<% end -%>
</ul>
</section>
