<% content_for(:html_title) { "Register" } -%>
<section>
<h1>Register</h1>
<% if user_signed_in? -%>
<p>You are already registered as <%= current_user.player.name %>!</p>
<ul>
<li><%= link_to 'View Player', player_path(current_user.player) %></li>
<li><%= link_to 'Edit Player', edit_player_path(current_user.player) %></li>
</ul>
<% else -%>
<p>
Flying Circus is a KSP+BDArmory competition pitting diverse aircraft against each other. The rules are simple. Human players design aircraft according to sets of rules. AI pilots
fly these aircraft in free-for-all (FFA) ranked combat. Results are streamed on Twitch. Conquer the air today!
</p>
<%= link_to 'Get Started with a Google Account', user_google_oauth2_omniauth_authorize_path %>
<% end -%>
</section>

