%nav
  %ul
    %li= link_to 'Home', home_path

%section
  %h1 Vessel Hangar

  - if @vessels.any?
    %ul
      - @vessels.each do |v|
        %li= link_to v.name, player_vessel_path(@player, v)
  - else
    %p No vessels
  = link_to 'New vessel', new_player_vessel_path(@player)
