%nav
  %ul
    %li= link_to 'Home', root_path

%section
  %h1 Vessel Hangar

  - if @vessels.any?
    %ul
      - @vessels.each do |v|
        %li= link_to v.craft_url, vessel_path(v)
  - else
    %p No vessels
  = link_to 'New vessel', new_vessel_path
