<h1>Upload Vessel</h1>
<% if flash[:error] -%>
<ul class="errors">
<% flash[:error].each do |e| -%>
<li><%= e %></li>
<% end -%>
</ul>
<% end -%>
<%= form_for :vessel, url: competition_vessels_path(params[:competition_id]), html: { multipart: true } do |f| -%>
<%= file_field_tag :file %>
<%= f.submit 'Submit' %>
<% end -%>

