%section
  %h2 Available Competitions
  - comps = Competition.available-@player.recent_competitions
  - if comps.empty?
    %ul.list-group
      %li.list-group-item none
  - else
    .list-group
      - comps.each do |c|
        = link_to c.name, competition_path(c), class: 'list-group-item'
