<section>
  <h1>Charts</h1>
  <canvas id="player_chart"></canvas>
  <script language="JavaScript">
  $(document).ready(function() {
      console.log("load chart.json for <%= player.id %>");
      $.getJSON("/players/<%= player.id %>/chart.json", loadBatch);
  });
  </script>
</section>
