
.c-button, .c-button:visited {
	all: inherit;

	display: inline-block;

	padding: 0.75rem 1rem;
	color: var(--color-white);
	background: var(--color-primary-darker);

	font-weight: 600;

	cursor: pointer;

	will-change: transform;

	&:hover {
		text-decoration: none;

		background: var(--color-primary);

		transform: translateY(1px);
	}
}
