/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 *= require_self
 */

@use "bootstrap";

@use './settings/typography';

@use './components/c-button';
@use './components/l-stack';
@use './components/l-row';
@use './components/c-leaderboard-table';


// Colors and basic settings
// ----------------------------------------------------------------------------

:root {
  --color-primary: #6fa9ff;
  --color-primary-darker: #2D6AC5;
  --color-slate: #3B3E46;
  --color-white: white;
  --color-black: black;

  --color-gray-0: rgb(235.82, 239.62, 249.6);
  --color-gray-10: rgb(220.35, 224.09, 233.95);
  --color-gray-20: rgb(187.78, 191.42, 200.98);
  --color-gray-30: rgb(157.16, 160.68, 169.93);
  --color-gray-40: rgb(125.83, 129.2, 138.09);
  --color-gray-50: rgb(95.85, 99.05, 107.52);
  --color-gray-60: rgb(68.5, 71.5, 79.51);
  --color-gray-70: rgb(42.86, 45.63, 53.07);
  --color-gray-80: rgb(19.39, 21.84, 28.55);
  --color-gray-90: rgb(2.28, 3.18, 6.87);
  --color-gray-100: rgb(2.44, 3.38, 7.21);

  --color-text: var(--color-gray-70);
  --color-link: var(--color-primary-darker);
  --color-bg: var(--color-white);
  --color-panel: var(--color-gray-0);

  --font-weight: 400;
  --font-slant: 0;
}

@media(prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-bg: var(--color-gray-60);
    --color-link: var(--color-primary);
    --color-panel: var(--color-gray-70);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  color: var(--color-text);
  background: var(--color-bg);
}

a, a:visited {
  color: var(--color-link);
}


// Global Layout
// ----------------------------------------------------------------------------

body {
  display: grid;
  grid-template-rows: 3.5rem auto;
  grid-template-columns: 14rem auto;
  grid-template-areas:
    'nav nav'
    'sidebar body';
}

.g-header {
  grid-area: nav;
  display: flex;
  background: var(--color-panel);
  padding: 1.25rem 1.5rem;
  line-height: 1rem;

  gap: 2rem;

  &__logo {
    text-transform: uppercase;
    font-weight: 900;
  }

  &__nav {
    > ul {
      display: flex;
      margin: 0;
      padding: 0;

      list-style: none;

      gap: 1rem;
    }

    a, a:visited {
      --color-link: var(--color-text);
      font-weight: 500;
    }
  }

}

.g-container {
  grid-area: body;
  padding: 1.5rem;
}

.g-sidebar {
  grid-area: sidebar;
  padding: 1.5rem;

  height: 100%;

  //background: var(--color-panel);

  border-right: 2px solid var(--color-panel);
}


// A few overrides for Bootstrap classes
// ----------------------------------------------------------------------------

.list-group-item {
  background: var(--color-panel);
  border: none;
}

.form-control, .form-control:focus {
  background: var(--color-bg);
  color: var(--color-text);

  @media(prefers-color-scheme: dark) {
    background: var(--color-gray-70);
  }
}

.form-control:focus {
  box-shadow: none;
  outline: 2px solid var(--color-primary);
}

.table {
  color: var(--color-text);
}
