/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
blue #3e517a
white #fcf7ff
green #c4cad0
gray #a4969b
red #ff6663
*/

header {
  padding: 20px;
}

nav {
  background-color: #c4cad0;
}

nav a {
  padding: 5px;
  display: block;
}

section {
  margin-top: 15px;
}

section > a {
  display: block;
  background-color: #c4cad0;
  color: black;
  padding: 10px;
}

section ul {
}

section ul li {
  display: block;
  background-color: #fcf7ff;
  border-bottom: 1px solid #3e517a;
  padding-left: 15px;
}

section li a {
  display: block;
  padding: 10px 0;
}

section li a:hover {
  background-color: white;
}

section li span {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

section.players li {
  padding: 10px;
}

section.heats li {
  padding: 5px;
}

section > p {
    padding: 10px;
}

* {
  Font-family: Helvetica Neue;
  padding: 0;
  margin: 0;
  color: black;
}

h1 {
  background-color: #3e517a;
  color: white;
  padding: 10px;  
  margin: 0;
}

h2 {
  background-color: #a4969b;
  padding: 10px;  
  color: white;
}

td {
  padding: 5px 10px;
}

tr {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #fcf7ff;
}

th {
    position: sticky;
    top: 0;
    height: 25px;
    background-color: white;
}
