%meta{property: "og:type", content: "website"}
%meta{property: "og:title", content: (title rescue "Flying Circus | Community | API")}
%meta{property: "og:description", content: (description rescue "Human-designed AI-piloted aircraft combat in an ongoing ranked tournament format.")}
%meta{property: "og:url", content: (url rescue "https://conquertheair.com/home")}
%meta{property: "og:site_name", content: (site_name rescue "Flying Circus")}
